.button{

    -fx-background-color: #00bfff;
    -fx-text-fill: white;
}

.button-digit{
    -fx-background-color: #00bfff;
    -fx-text-fill: white;


}

.text{
    -fx-text-fill: white;

}

.root{
    //-fx-background-color:  #1e90ff;
    -fx-background-color:  white;
}