.button{

    -fx-background-color: #00bfff;
    -fx-text-fill: white;
}

.button-digit{
    -fx-background-color: #00bfff;
    -fx-text-fill: white;


}

.text{
    -fx-text-fill: white;

}

.root{
    //-fx-background-color:  #1e90ff;
    -fx-background-color:  white;
}

.combo-box{
    -fx-background-color: black;
    //-fx-background-color: transparent;
    -fx-background-radius: 20px;
}

.combo-box .list-view > .list-cell{

    -fx-text-fill: #FF0000;
}